{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ post.title }}</h1>
	
	<p>{{ post.id }}</p>
	<p>{{ post.title }}</p>

</div>
{% endblock %}
